html{
    background-color: black;
    color: white;
    font-family: serif;
    scroll-behavior: smooth;
}
body {
    margin: auto;
    height: auto;
}
.body {
    margin-left: 15vw;
    margin-right: 15vw;
    font-family: monospace;
}
.body h1 {
    letter-spacing: 3vh;
    opacity: 100;
    font-weight: 100;
    text-transform: uppercase;
    transition: 500ms ease-in-out;
    cursor:default;
    font-size: 2.5vw;
}
.container {
    width: 100vw;
    margin: auto;
    align-items: center;
    position: fixed;
    z-index: 10;
}

/* Star styling and rotation on hover */
.star {
    margin: auto;
    transition: ease-in-out 500ms;
    display: block;
    cursor: pointer;
    position: sticky;
    padding: -10vh;
    width: 10rem;
    transform: scale(0.8);
    z-index: 2;
}
#toggle {
    display: none;

}
#toggle:checked ~ .menu {
    transform: translate(0);
}

.container:hover .star{
    transform: scale(1) rotate(45deg);
}
/* Menu styling */
.menu {
    display: flex;
    gap: 8rem;
    justify-content: center;
    margin: auto;
    margin-top: 1rem;
    opacity: 1;
    z-index: 1;
    width: 100vw;
    transform: translateY(-20vh);
    margin-top: -11vh;
    transition: 0.5s ease-in-out;
}
/* Individual menu items */
.item {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin: 100px;
    letter-spacing: 3;
    text-align: center;
    font-size: 1.5rem;
    transition: 0.3s ease-in-out;
}
.left {
    text-align: right;
    float: right;
    align-items: right;
}
.right {
    text-align: left;
    float: left;
    align-items: left;
}
.item:hover {
    color: #54a4ff;
    font-weight: 100;
    letter-spacing: 10;
    font-size: 1.8rem;
    animation: 2s multifonts infinite;
}
.space {
    margin: 0rem;
    height: 15rem;
}
.projects{
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 5vh;
}
.dig {
    width: 15vw;
    margin: auto;
    text-decoration: none;
    color: white;
    transition: 0.3s ease-in-out;
    border-width: 3px;
    border-radius: 5px 10px 0px 0px;
    cursor: pointer;
}
.dig:hover {
    rotate: 3deg;
    transform: translateY(-20px);
    border-color: white;
    border-width: 10px;
    border-style:double;
    z-index: 3;
}