@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');
html {
    background-image: linear-gradient(45deg, #7838bc, #459de4);
    color: white;
    font-family: 'Nunito', sans-serif;
    body {
        margin: 0;
        padding: 0;
    }
}
.topMenu {
    z-index: 10;
    position:fixed;
    top: 0;
    right: 0;
    margin: 20px;
    img {
        width: 50px;
        transition: 200ms;
    }
    img:hover{
        rotate: 45deg;
    }
    #toggle{
        display: none;
    }
    #toggle:checked ~ .menuContainer{
        right: 20;
    }
    
    /* #toggle:checked ~ .menuContainer a{
        animation: fih 700ms 0.5s;
    } */
    .menuContainer {
        transition: 500ms;
        right: -30vh;
        position:absolute;
        display: flex;
        flex-direction: column;
        justify-content: right;
        a {
            
            text-decoration: none;
            padding: 10px;
            text-align: right;
            text-decoration: none;
            color: white;
            transition: 100ms;
            border-radius: 5px;
        }
        a:hover {
            animation: fih 700ms 0.1s;
            color: #ffffff;
            text-decoration: underline;
        }
        
    }
    
}
@keyframes fih {
    0% { opacity: 0%;}
    10% { opacity: 100%;}
    20% { opacity: 0%;}
    30% { opacity: 100%;}
    40% { opacity: 0%;}
    50% { opacity: 100%;}
}
@keyframes cloud{
    0% {transform: translateX(-100vw);}
    30% {transform: translateX(0);}
    20% {background-position-x: 0px;}
    80% {background-position-x: 1850px;}
    70% {transform: translateX(0); }
    100% {transform: translateX(100vw); background-position-x: 1850px;}
}
@keyframes wipe {
    0% {clip-path: inset(0% 100% 0% 0%);}
    100% {clip-path: inset(0% 0% 0% 0%);}
}
.banner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    .left {
        display: flex;
        padding: 10px;
        justify-content: center;
        max-width: 50%;
        .logo {
            mix-blend-mode: screen;
            width: 100%;
            z-index: -10;
        }
    }
    .right {
        padding: 20px;
        text-align: left;
        max-width: 400px;
        h3, p {
            margin: 5px;
            font-size: small;
        }
        h1 {
            font-family:'Montserrat';
            font-size: x-large;
        }
    }
    .top {
        left: 10;
        position: absolute;
        top: 10;
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
        a {
            transition: 200ms;
            font-size: x-small;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: white;
            padding: 0.5em 0.5em;
            /* background-color: grey; */
        }
        a:hover {
            transform: translateY(-5px);
            animation: fih 800ms linear;
        }
        a img {
            left: 0;
            width: 20px;
            margin: auto;
        }
        .line {
            width: 10vw;
            height:2px;
            background-color: white;
            animation: wipe 2s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
    }
    .clouds {
        z-index: -5;
        width: 100vw;
        height: 100%;
        position: absolute;
        animation: cloud 10s infinite linear;
        background-image: url("../Images/bannerBackground.png") ;
        background-size:cover;
        background-repeat: repeat-x;
        animation: cloud 70s infinite ease-in-out;
    }
}
.content1{
    height: 100%;
    display: flex;
    flex-direction: row;
    .left {
        background-color: black;
        width: 100%;
        height: 100%;
    }
    .right {
        background-color: white;
        width: 100%;
        height: 100%;
    }
    
}


/* @media (min-width=480px) {
    @keyframes cloud {
        0% {transform: translateX(-100vw);}
        30% {transform: translateX(0);}
        20% {background-position-x: 0px;}
        80% {background-position-x: 100px;}
        70% {transform: translateX(0); }
        100% {transform: translateX(100vw); background-position-x: 1850px;}    
    }
    .clouds {
        animation: cloud 5s linear infinite;
    }
} */